.red-color {
    background-color: red;
    height:1000px;
}
.blue-color {
    background-color: blue;
    height:1000px;
}
.green-color {
    background-color: green;
    height:1000px;
}
.gray-color {
    background-color: gray;
    height:1000px;
}