.red-color {
    background-color: red;
    height:1000px;
}
.blue-color {
    background-color: blue;
    height:1000px;
}
.green-color {
    background-color: green;
    height:1000px;
}
.gray-color {
    background-color: gray;
    height:1000px;
}

#myNavbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.section{
    padding-top: 56px;
}